.custom-border {
    border-radius: 50px;
    background-color: #4A6456;
    color: white;
}
.text-xs{
 font-size:12px
}
 .custom-link:hover {
     color: black;
     text-decoration: none;
 }
 .text-gray{
    color:gray;
 }
 .img {
     height: auto;
     max-width: 100%;
     border: 0;
 }
 .img-height-weigth{
    height: auto;
    max-width:220px ;

 }
 .custom-border-lg{
    border-radius: 90px;
        background-color: #9F634E;
        color: white;
 }
 
 .custom-input{
    border-style: solid;
        border-width: 1px ;
        border-color: #0000001A;
        background-color: #FFF;
            border-radius: 8px ;
            padding: 8px 16px;
            min-height:55px;
            height: auto;
            width: 100%;

 }
 .message-input{
        border-style: solid;
            border-width: 1px;
            border-color: #0000001A;
            background-color: #FFF;
            border-radius: 8px;
            padding: 8px 16px;
            min-height: 125px;
            height: auto;
            width: 100%;
 }
.submit{
    border-radius: 8px;
    min-height: 55px;
    background-color: #6A4ee9;
    border-style: none;
    font-weight: bold;

}
.theme-color{
    background-color: #6A4ee9;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #6A4ee9;
font-weight: bold;
}
.navbar-nav .nav-link:focus{
    color: #6A4ee9;
    font-weight: bold;
}
.link-card:hover{
    background-color: rgb(247, 242, 238);
    opacity: 15;
    transform: translateY(4px);
    
}
.custom-ellipsis {
display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.justify-center{
    text-align: justify;
    ;
}
.post-content img {
            max-width: 680px;
            width: fit-content;
            max-height: 610px;      
}
.btn:hover{
      background-color: #6A4ee9;       
}
.input-group .btn {
    height: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
}